<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="images/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a> //
      <a href="/about.html">About</a> //
      <a href="/archive.html">Archive</a> //
      <a href="/blog.html">Blog</a> 
    </nav>
    {{ content }}
  </body>
</html>

  
